@model IEnumerable<BookAuthor.Models.Book>
<br />
<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ItemModel => item.Book_title)
            </td>
            <td>
                @Html.DisplayFor(ItemModel => item.Book_id)
            </td>
           
            <td>
                
                @Html.ActionLink("Edit", "Edit", new { id = item.Book_id }, new { @class = "btn btn-primary" })

                @Html.ActionLink("Delete", "DeleteBook", new { id = item.Book_id }, new { @class = "btn btn-success" })

            </td>

        </tr>
    }

</table>
